<template>
    <div>
        {{currency}}

        {{activeCurrency}}
    </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'Currency',
    props: {
      currency: {required: true}
    },
    data () {
      return {
        activeCurrency: null,
      }
    },
    created () {
      this.activeCurrency = this.getCurrency(this.currency)
    },
    computed: {
      ...mapGetters([
        'getCurrency'
      ])
    },
    watch: {
      '$route' () {
        this.activeCurrency = this.getCurrency(this.currency)
      }
    }
  }
</script>

<style scoped>

</style>
