<template>
    <div class="home">
        <h1>Exchange system</h1>
    </div>
</template>

<script>

  import { mapState } from 'vuex'

  export default {
    name: 'home',
    components: {},
    computed: {
      ...mapState([
        'currencies'
      ])
    }
  }
</script>
