<template>
    <div id="app">
        <router-link :to="{name:'contact'}"> Contact</router-link>
        <router-link :to="{name:'home'}"> Home</router-link>
        <ul v-if="currencies">
            <li v-for="(currency, $key) in  currencies">
                <router-link :to="$key">{{$key}}</router-link>
            </li>
        </ul>
        <router-view/>
    </div>
</template>
<script>
  import { mapActions, mapState } from 'vuex'

  export default {
    name: 'Home',
    created () {
      this.getCurrencies()
    },
    methods: {
      ...mapActions([
        'getCurrencies'
      ])
    },
    computed: {
      ...mapState([
        'currencies'
      ])
    },
  }
</script>
<style lang="scss">
</style>
